<link rel="stylesheet" href="/css/home.css" />

<section id="project-list">
  <div id="home-page-header">
    <div id="projects-count">Total : <%= projects.length%></div>
    <h2> LIST OF PROJECTS</h2>
    <!-- this will redirect to create project page -->
    <form action="/projects/create_project_page">
      <button id="add-project-btn">Add Project</button>
    </form>
  </div>
<%if(projects.length>0){%>
  <% for(let i of projects){ %>
  <a href="/projects/projects_details/<%= i.id%>">
    <div id="project-container">
      <p id="project-name">
        <span><%= i.projectName %></span>
              <a id="delete-project-button" href="/projects/destroy/<%= i.id %>">X</a>
           
            
       
      </p>
      <p id="author-name">Author : <span><%= i.projectAuthor %></span></p>
      <div id="description">
        <h5>Description:</h5>
        <p id="description-content"><%= i.projectDescription%></p>
      </div>
    </div>
  </a>
  <% } %>
  <% } %>

</section>
